.Weather {
  border-radius: 10px;
  box-shadow: 3px 6px 4px#2c2e30a1;
  padding: 20px;
  background-color: #2c2e30;
  color: #ec6e4c;
  font-family: "Roboto", sans-serif;
}

.WeatherInfo canvas {
  margin-left: 20px;
}

.Weather .currentTemperature {
  font-size: 90px;
  margin-left: 10px;
}

.Weather .units {
  font-size: 10px;
  position: relative;
  top: -55px;
}

.Weather .city {
  font-size: 35px;
  margin-left: 35px;
  position: relative;
  bottom: -20px;
}
.Weather .currentDay {
  font-size: 12px;
  margin-left: 35px;
  margin-top: 20px;
}

.Weather .description {
  font-size: 18px;
  margin-left: 35px;
  text-transform: capitalize;
}

.Weather .humidity,
.wind,
.feelsLike {
  margin-top: 15px;
  font-size: 11px;
  background-color: #36383a;
  border-radius: 10px;
}

.Weather .numbers {
  font-size: 18px;
}

ul {
  list-style: none;
}

.form-control {
  box-shadow: 2px 4px 4px#2c2e30a1;
  border-radius: 30px;
  margin-top: 20px;
  margin-left: 25px;
}
.Weather .btn {
  background-color: #36383a;
  box-shadow: 2px 4px 4px#2c2e30a1;
  border-radius: 10px;
  color: #ec6e4c;
  margin-top: 20px;
  margin-left: 5px;
}
