.WeatherForecast {
  font-size: 11px;
  text-align: center;
  margin: 15px;
  background-color: #36383a;
  padding: 10px 0 10px 0;
  border-radius: 10px;
}

.WeatherForecast canvas {
  display: block;
  margin: 5px auto;
  width: 25px;
}
