.Weather {
  border-radius: 20px;
  box-shadow: 3px 6px 4px#2c2e30a1;
  padding: 20px;
  background-color: #2c2e30;
  color: #ec6e4c;
  font-family: "Roboto", sans-serif;
}

.Weather .currentTemperature {
  font-size: 65px;
  margin-left: 30px;
}
.Weather .units {
  font-size: 13px;
  position: relative;
  top: -35px;
}

.Weather canvas {
  margin-top: 20px;
  margin-left: 35px;
}
.Weather .city {
  font-size: 18px;
  font-weight: lighter;
  margin-top: -20px;
}
.Weather .currentDay {
  font-size: 14px;
}

.Weather .description {
  font-size: 15px;
  font-weight: lighter;
  margin-top: 25px;
  margin-left: -30px;
}
.Weather .description:first-letter {
  text-transform: capitalize;
}

.Weather .humidity,
.wind {
  font-size: 13px;
  margin-left: -30px;
}

ul {
  list-style: none;
}

.form-control {
  box-shadow: 2px 4px 4px#2c2e30a1;
  border-radius: 20px;
  margin-left: 25px;
}
.Weather .btn {
  background-color: #36383a;
  box-shadow: 2px 4px 4px#2c2e30a1;
  border-radius: 50px;
  color: #ec6e4c;
  margin-left: 5px;
}
